@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

body{
    background-color: #1E1E1E;
    color: #E9E3DC;
    font-family: "Bowlby One", sans-serif;
}
.main-navigation{
    display: flex;
    flex-wrap: nowrap;
}
ul li{
    list-style: none;
}
.heading{

}