@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap");

:root {
    --background-color: #1e1e1e;
    --text-color: #e9e3dc;
    --primary-color: #d1ef53;
    --secondary-color: #b3a0cd;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Bowlby One", sans-serif;
}

.heading {
    font-size: 1.875rem;
    text-transform: uppercase;
}

.container {
    font-size: 1.125rem;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100%;
    width: 95%;
    margin: auto;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.container .navbar {
    justify-content: space-between;
}

ul li {
    list-style: none;
}

.navbar ul li {
    list-style-type: none;
    text-transform: uppercase;
}

.container .navbar ul li {
    padding-right: 20px;
    margin: 0 10px;
}

.order-btn {
    background-color: var(--secondary-color);
    font-size: 1.125rem;
    padding: 12px 32px;
    text-transform: uppercase;
    font-family: "Bowlby One", sans-serif;
    color: var(--background-color);
    border: none;
}

.landing-section {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    position: relative; /* Needed to position items absolutely */
}

.landing-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 6rem;
    margin-top: 40px;
    z-index: 0;

}

.burgers-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 1;
    top: 430px;
    width: 90%;
    height: auto;
}

.ad-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: var(--background-color);
    background: var(--primary-color);
    border-radius: 30px;
    margin: 30em 3rem 4rem;
}

.ad-heading {
    text-transform: uppercase;
    font-size: 4.75rem;
    padding-left: 1.75em;
    padding-right: 2.5rem;
    line-height: 100px;
}

.ad-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 84em;
    height: auto;
}

.ad-paragraph {
    font-size: 1.5rem;
    margin-top: 34px;
    margin-bottom: 65px;
}

.about-us-btn {
    background-color: var(--text-color);
    color: var(--background-color);
    text-transform: uppercase;
    border: 4px solid var(--background-color);
    font-size: 1rem;
    width: 11em;
    height: 4em;
    font-family: "Bowlby One", sans-serif;
}

.menu-cards {
    display: flex;
    justify-content: space-evenly;
}

.french-fries-card, .burger-card {
    position: relative;
    z-index: 0;
}

.fries-heading, .burger-heading {
    font-size: 1.7rem;
    padding-left: 13px;
    margin-bottom: 15px;
    padding-right: 13px;
    text-transform: uppercase;
}

.french-fries-container {
    background-color: var(--background-color);
    color: var(--text-color);
    position: absolute;
    z-index: 1;
    border-radius: 30px;
    top: 70%;
    left: 4%;
    padding-bottom: 20px;

}

.burger-container {
    background-color: var(--background-color);
    color: var(--text-color);
    position: absolute;
    z-index: 1;
    border-radius: 30px;
    top: 70%;
    left: 4%;
    padding-bottom: 20px;
}

.fries-order-btn, .burger-order-btn {
    margin-left: 21px;
    margin-bottom: 17px;
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-size: 1.25rem;
    text-transform: uppercase;
}

.review-quote {
    display: flex;
    justify-content: center;
    font-size: 4.5rem;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
}

.people-sitting-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 0;
    width: 90%;
    height: auto;
}

.vector-container {
    position: absolute;
    top: 198rem;
    left: 0;
    z-index: 1;
}

.moto-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 177px;
    font-size: 4.4rem;
    text-align: center;
    text-transform: uppercase;
}

.get-started-container {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-started-btn {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1.125rem;
    font-family: "Bowlby One", sans-serif;
    width: 12.5rem;
    height: 3.75rem;
    text-transform: uppercase;
    border: none;
    margin-bottom: 7rem;
}
.green-vector{
    position: absolute;
    z-index: 1;
    left: 91vw;
    bottom: -328vh;
}

footer {
    background-color: var(--secondary-color);
    color: var(--background-color);
    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h2,
.footer-section h3 {
    margin-top: 0;
}

.footer-section h2 {
    padding-left: 30px;
}

.small-text {
    font-size: 1.125rem;
    font-weight: lighter;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: var(--background-color);
    text-decoration: none;
}

.footer-section form {
    display: flex;
    flex-direction: column;
}

.footer-section input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.footer-section button {
    padding: 10px;
    background-color: transparent;
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.email-form{
    position: relative;
    display: inline-block;

}
.email-form input {
    padding-right: 30px;
    background-color: transparent;
}
.footer-section input[type="email"], .footer-section input[type="email"]:hover, .footer-section input[type="email"]:focus {
    border-color: var(--background-color);
}
.submit{
    position: absolute;
    top: 5px;
    padding-bottom: 12px;
    left: 344px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: "Bowlby One", sans-serif;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: var(--background-color);
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}
